<div [class]="class">
    <ul class="nav-list">
        <li class="text-light p-3"><i class="bi bi-person-fill mx-2"></i> user</li>
        <li class="text-light p-3"><i class="bi bi-envelope-at-fill mx-2"></i> email</li>
        <li class="text-light p-3"><i class="bi bi-headset mx-2"></i>headset</li>
        <li class="text-light p-3"><i class="bi bi-telegram mx-2"></i>telehram</li>
        <li class="text-light p-3"><i class="bi bi-instagram mx-2"></i>instagram</li>
        <li class="text-light p-3"><i class="bi bi-google mx-2"></i>google</li>
        <li class="text-light p-3"><i class="bi bi-android mx-2"></i>android</li>
        <li class="text-light p-3"><i class="bi bi-apple mx-2"></i>apple</li>
    </ul>

</div>